#old{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 0);
    /* transition-duration: 1s;
    transition-delay: 1s; */
    /* or  */
    transition: 1s 1s;
    
}
#old:hover{
    background-color: black;
    border-radius: 50%;
}
#new{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease 0.2s;
}
#new:hover{
    margin-top:400px ;
    background-color: pink;
}