.card{
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 0.5s;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.desc{
    padding: 0 2px 0 2px;
}
.card:hover{
    box-shadow: 2px 4px 16px goldenrod;
}