.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;

}
.eye1,.eye2{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
}
.eye2{
    left: 250px;
}