h1{
    text-align: center;
    font-family: Georgia;
    
}
h3{
    text-align: center;
    color: black;
    
}
p{
    color: red;
    text-align: center;
    
    line-height: 30px;
}
h4{
    text-align: center;
    
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
span{
    text-decoration: underline;
}
textarea{
    color: black;
}