<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>

    <h3> <%=  1+3 %> </h3>
    <h3> <%=  "Apnacollege".toUpperCase() %> </h3>
    <h3> <%=  ["Assalamualikum" , "Hello" ,"Bonjour"][0]%> </h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quibusdam fuga officia. Ut fugiat ipsa ipsum accusantium aperiam culpa expedita, quas deserunt, ullam nihil reprehenderit tenetur fugit accusamus nam! Iusto.</p>
    <button>Click me!</button>
</body>
</html>