#container {
    height: 300px;
    width: 80%;
    background-color: rgb(48, 75, 75);
    margin: 10px auto;
    border: 2px solid rgb(68, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content:flex-start;
}
  
h1 {
    text-align: center;
}

#container div{
    height: 50px;
    width: 300px;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
body{
   background-color: black; 
}
  