.box{
    height: 150px;
    width: 150px;
    border: black 2px solid;
    background-color: pink;
}
.one{
    background-color: aquamarine;
    position: relative;
    z-index: 1;
}
.two{
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
}