.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.item{
    background-color: pink;
}
.one{
    grid-column: 1/13;
}
.two{
    grid-row: 2/10;
    grid-column: 1/3;
}
.three{
    grid-column: 3/9;
}
.four{
    grid-row: 2/10;
}