*{
    font-family: sans-serif;
    
}
h1, h3{
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: aliceblue;
}

/* Desecndent Selector  */
.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: pink;
}
p + h3{
    text-decoration: underline;
}
.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}
div > input{
    background-color: darksalmon;
}

input[type="text"]{
    color: red;
}
input[type="password"]{
    color: rgb(255, 0, 0);
}
input[type]{
    background-color: ghostwhite;
}

/* practice Q  */
#myid p /*OR div[id="myid"] p */ {
    color: green;
}

button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}
button:active{
    background-color: plum;
    color: black;
}
p:active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
div:nth-of-type(2n){
    background-color: blanchedalmond;
}
h1::first-letter{
    color: pink;
}
p::first-line{
    color: pink;
}
p::selection{
    background-color: rgb(199,192,58);
}